.namebar {
    background: linear-gradient(to right,    
    hsl(98 100% 62%), 
    hsl(204 100% 59%) );
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
    text-align: center;
    font-size: 7vmin;
  }
  .boxnamebar {
    margin:-10px;
    padding:30px;
    background: hsl(204 100% 5%);
    min-block-size: 100%;
    min-inline-size: 100%;
    box-sizing: border-box;
    display: grid;
    place-content: center;
    font-family: 'Stick No Bills', sans-serif;
  }


  .navbar {
    border-radius: 25px;
    height:fit-content;
    display: inline-flex;
    backdrop-filter: blur(10px);
    align-items: center;
    padding:0 10px;
    margin: 10px 0 0 0;

  }
li{
  list-style: none;
}
.navItem {
  text-decoration: none;
  color: black;
  font-family: sans-serif;
		font-weight: bold;
		padding: 12px 16px;
		margin: 0 8px;
		position: relative;
		cursor: pointer;
		white-space: nowrap;
}